@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");

.about-card {
  max-width: 500px;
  margin: auto;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-card-image {
  background-image: url('https://server.noredlace.com/savedfiles/profile-ej.png');
  background-size: cover;
  opacity: 0.4;
}


p {
  font-family: Tomorrow, sans-serif;
  font-size: 15px;
  text-shadow: 1px 1px rgb(0,255,159);
  background-color: rgba(214, 0, 255, .4);
  padding: 10px;
}

.mat-card-title {
  font-family: Tomorrow, sans-serif;
  text-shadow: 1px 1px rgb(0,255,159);
  font-size: 20px;
  background-color: rgba(214, 0, 255, .4);
  padding: 5px;
}

.mat-card-subtitle {
  font-family: Tomorrow, sans-serif;
  font-size: 18px;
  text-shadow: 1px 1px rgb(0,255,159);
  background-color: rgba(214, 0, 255, .4);
  padding: 5px;
}
