.about-card {
  max-width: 500px;
  margin: auto;
  margin-top: 100px
}

.about-card-image {
  background-image: url('https://noredlace.com/savedfiles/profile-ej.png');
  background-size: cover;
}
