.game-server-card {
  max-width: 300px;
  margin: 5px;
}

.example-header-image {
  background-image: url('https://server.noredlace.com/savedfiles/profile-wolfcat.png');
  background-size: cover;
}

.cardList {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  flex: 1;
}
