

:root {
  /* Base font size */
  font-size: 10px;
  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}

.game-server-card {
  max-width: 300px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.example-header-image {
  background-image: url('https://server.noredlace.com/savedfiles/profile-wolfcat_2.png');
  background-size: cover;
  opacity: 0.4;
}

.cardList {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  flex: 1;
}


p {
  font-family: Tomorrow, sans-serif;
  font-size: 15px;
  text-shadow: 1px 1px rgb(0,255,159);
  background-color: rgba(214, 0, 255, .4);
  padding: 10px;
}

.mat-card-title {
  font-family: Tomorrow, sans-serif;
  text-shadow: 1px 1px rgb(0,255,159);
  font-size: 20px;
  background-color: rgba(214, 0, 255, .4);
  padding: 5px;
}

.mat-card-subtitle {
  font-family: Tomorrow, sans-serif;
  font-size: 18px;
  text-shadow: 1px 1px rgb(0,255,159);
  background-color: rgba(214, 0, 255, .4);
  padding: 5px;
}




