<div class="cardList">
  <li *ngFor="let gameServerModel of apiGameServersModels$; let i = index">
    <mat-card class="game-server-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ gameServerModel.Name }}</mat-card-title>
        <mat-card-subtitle *ngIf="apiGameServersModels$; else elseBlock">
          <div *ngIf="gameServerModel.Port != 'N/A'">
            {{ gameServerModel.Address }}:{{ gameServerModel.Port }}
          </div>
          <div *ngIf="gameServerModel.Port == 'N/A'">
            {{ gameServerModel.Address }}
          </div>
        </mat-card-subtitle>
        <ng-template #elseBlock>
          <mat-card-subtitle> Loading... </mat-card-subtitle>
        </ng-template>
      </mat-card-header>
      <img
        mat-card-image
        src="{{ gameServerModel.SavedFileURL }}"
        alt="{{ gameServerModel.Game }}_Photo"
      />
      <mat-card-content>
        <p *ngIf="apiGameServersModels$; else elseBlock">
          {{ gameServerModel.Description }}
        </p>
        <ng-template #elseBlock>
          <p>Loading...</p>
        </ng-template>
        <p *ngIf="apiGameServersModels$ && gameServerModel.IsOnline; else elseBlock">
          Server Status: {{ gameServerModel.IsOnline == "0" ? "Offline" : "Online" }}
        </p>
        <ng-template #elseBlock>
          <p>Loading...</p>
        </ng-template>
        <p *ngIf="apiGameServersModels$; else elseBlock">
          Version: {{ gameServerModel.Version }}
        </p>
        <ng-template #elseBlock>
          <p>Loading...</p>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </li>
</div>
