<!--
<p>post-create works! hoorah!</p>

<textarea rows="6" [value]="newPost" #postInput></textarea>
<hr />
<button (click)="onAddPost(postInput)">Save Post</button>
<hr />
<p>{{ newPost }}</p>


<textarea rows="6" [(ngModel)]="ngPost"></textarea>
<hr />
<button (click)="onAddPost2()">Save Post</button>
<hr />
<p>{{ newPost2 }}</p>
<hr />
-->

  <div class="cardList">

    <mat-card class="game-server-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Minecraft Server</mat-card-title>
        <mat-card-subtitle *ngIf="apiMinecraftModels$; else elseBlock">{{apiMinecraftModels$.hostname}}:{{apiMinecraftModels$.port}}</mat-card-subtitle>
        <ng-template #elseBlock>
          <mat-card-subtitle>
            Loading...
          </mat-card-subtitle>
        </ng-template>
      </mat-card-header>
      <img mat-card-image src="https://server.noredlace.com/savedfiles/minecraft_transparent_3.png" alt="Minecraft Twitter Photo">
      <mat-card-content>
        <p *ngIf="apiMinecraftModels$; else elseBlock">
          {{apiMinecraftModels$.motd.clean}}
        </p>
        <ng-template #elseBlock>
          <p>
            Loading...
          </p>
        </ng-template>
        <p *ngIf="apiMinecraftModels$; else elseBlock">
          Server Status: {{apiMinecraftModels$.online ? "Online" : "Offline"}}
        </p>
        <ng-template #elseBlock>
          <p>
            Loading...
          </p>
        </ng-template>
      </mat-card-content>
    </mat-card>

    <mat-card class="game-server-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Terraria Server</mat-card-title>
        <mat-card-subtitle *ngIf="apiTerrariaModels$; else elseBlock">{{apiTerrariaModels$.address}}:{{apiTerrariaModels$.port}}</mat-card-subtitle>
        <ng-template #elseBlock>
          <mat-card-subtitle>
            Loading...
          </mat-card-subtitle>
        </ng-template>
      </mat-card-header>
      <img mat-card-image src="https://server.noredlace.com/savedfiles/terraria_transparent.png" alt="Terraria Twitter Photo">
      <mat-card-content>
        <p *ngIf="apiTerrariaModels$; else elseBlock">
          {{apiTerrariaModels$.name}}
        </p>
        <ng-template #elseBlock>
          <p>
            Loading...
          </p>
        </ng-template>
        <p *ngIf="apiTerrariaModels$; else elseBlock">
          Server Status: {{apiTerrariaModels$.is_online ? "Online" : "Offline"}}
        </p>
        <ng-template>
          <p>
            Loading...
          </p>
        </ng-template>
      </mat-card-content>
    </mat-card>


    <mat-card class="game-server-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Don't Starve Together</mat-card-title>
        <mat-card-subtitle *ngIf="apiDstModels$; else elseBlock">noredlace.us.to:{{apiDstModels$.port}}</mat-card-subtitle><ng-template #elseBlock>
        <mat-card-subtitle>Loading...</mat-card-subtitle>
        </ng-template>
      </mat-card-header>
      <img mat-card-image src="https://server.noredlace.com/savedfiles/dst_transparent_2.png" alt="DST Twitter Photo">
      <mat-card-content>
        <p *ngIf="apiDstModels$; else elseBlock">
          {{apiDstModels$.name}}
        </p>
        <ng-template #elseBlock>
          <p>
            Loading...
          </p>
        </ng-template>
        <p *ngIf="apiDstModels$; else elseBlock">
          Server Status: Online
        </p>
        <ng-template #elseBlock>
          <p>
            Loading...
          </p>
        </ng-template>
      </mat-card-content>
    </mat-card>


    <mat-card class="game-server-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>7 Days To Die Server</mat-card-title>
        <mat-card-subtitle *ngIf="apiSdtdModels$; else elseBlock">{{apiSdtdModels$.address}}:{{apiSdtdModels$.port}}</mat-card-subtitle>
        <ng-template #elseBlock>
          <mat-card-subtitle>
            Loading...
          </mat-card-subtitle>
        </ng-template>
      </mat-card-header>
      <img mat-card-image src="https://server.noredlace.com/savedfiles/sdtd_transparent_3.png" alt="7DTD Twitter Photo">
      <mat-card-content>
        <p *ngIf="apiSdtdModels$; else elseBlock">
          {{apiSdtdModels$.hostname}}
        </p>
        <ng-template #elseBlock>
          <p>
            Loading...
          </p>
        </ng-template>
        <p *ngIf="apiSdtdModels$; else elseBlock">
          Server Status: {{apiSdtdModels$.is_online ? "Online" : "Offline"}}
        </p>
        <ng-template #elseBlock>
          <p>
          Loading...
          </p>
        </ng-template>
      </mat-card-content>
    </mat-card>


  </div>
